:root {
  --heading-font: "PT Sans", sans-serif;
  --black: #000;
  --white: #fff;
  --primary: #b80257;
  --secondary: #783df0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  line-height: 1.3;
  font-family: "Source Sans 3", sans-serif;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
}

a {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px; /** Normal condition: width will be 1170px  */
  max-width: 100%; /** When view < 1170: width will be 100%  */
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  --height: 32px;

  min-width: 66px;
  height: var(--height);
  padding: 0 8px;
  border-radius: 30px;

  color: var(--white);
  line-height: var(--height);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* End Common Section */

/* Index Menu */
.main-container {
  background: linear-gradient(135deg, #5c6cff, #954bff);
}

.nav-list {
  padding: 20px;
  text-align: center;
  font-size: 0;
}

.item {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 12px;
  border-radius: 99px;

  font-size: 1.6rem;
  color: var(--white);
  cursor: pointer;
}

.item a {
  text-decoration: none;
}

.item:hover {
  font-weight: 500;
  color: #1f1c24;
  background: #d1c7ee;
}

/* Header */
.header__wrapper {
  display: flex;
  min-height: 496px;
  background-image: url(../assest/image/banner-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__inner {
  display: flex;
  width: 100%;
  background: #00000099;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header__container {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
}

.menu__item {
  position: relative;
}

.menu__link {
  display: inline-block;
  padding: 20px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.1px;
}

/* Submenu */
.submenu {
  position: absolute;
  top: 50px;
  left: 0;

  min-width: 220px;
  background: var(--white);

  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top center;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
}

.submenu__link {
  display: flex;
  align-items: center;
  height: 44px;
  padding: 0 25px;
  text-decoration: none;
  color: #0009;
}

/* Show submenu when hovering li */
.menu__item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

/* Submenu hover effect */
.submenu__link:hover {
  background: var(--primary);
  color: var(--white);
}

/* Action group btn */
.action {
  display: flex;
  gap: 20px;
}

.action-btn {
  font-size: 2rem;
  color: var(--white);
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  color: var(--white);
}

.breadcrumb__title {
  font-size: 3.2rem;
}

.breadcrumb__nav {
  display: flex;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: #fffc;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: "/";
  padding: 0 6px;
}

/* Contact */
.contact {
  display: flex;
  gap: 30px;
  margin-top: 110px;
}

.contact__img {
  flex-basis: 1 0 57.3%;
}

.contact__info {
  flex: 1;
  background-image: url(../img/img-contact-info.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
}

.contact__overlay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100%;
  padding: 60px 70px;
  background: #773ceed9;
}

.contact__heading {
  position: relative;
  font-size: 3rem;
  padding-bottom: 18px;
}

.contact__heading::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  display: inline-block;
  width: 3.2em;
  height: 0.2rem;
  background-color: #f5b400;
}

.contact__rows {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 90px;
}

.contact__row {
  display: flex;
  align-items: center;
  gap: 60px;
}

.contact__row > i {
  font-size: 3.7rem;
}

.contact__detail {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3;
}

/* Form */
.form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form__group {
  display: flex;
  gap: 30px;
}

.form__group:nth-of-type(3) {
  height: 400px;
  max-height: 400px;
}

.form__input,
.form__textarea {
  font-size: 1.5rem;
  border: 1px solid #f3f0fa;
  background: #f3f0fa;
  outline: none;
  transition: all 0.5s ease-in-out;
}

.form__input {
  flex: 1;
  height: 70px;
  padding: 0 20px;
}

.form__textarea {
  flex: 1;
  display: block;
  padding: 30px;
  height: 100%;
  resize: none;
}

.form__input:focus,
.form__textarea:focus {
  border: 1px solid var(--secondary);
}

.form__input:focus::placeholder,
.form__textarea:focus::placeholder {
  opacity: 0;
}

.btn-form {
  --height: 45px;

  min-width: 166px;
  align-self: flex-start;

  font-size: 1.8rem;
  letter-spacing: 1.5px;
  border-radius: initial;
  background: var(--secondary);
  transition: background 0.3s linear;
}

.btn-form:hover {
  background: var(--primary);
}

/* Google Map */
iframe {
  margin-top: 100px;
  width: 100%;
  min-height: 500px;
}

.btn-up {
  position: fixed;
  right: 0;
  bottom: 0;

  --height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  min-width: 0;
  padding: 0;
  font-size: 2.5rem;
  border-radius: initial;
  background: var(--primary);
}

/* Footer */
.footer {
  margin-top: 100px;
  background: #151515;
  color: #ffffff99;
}

.footer__inner {
  padding: 80px 0;
  display: flex;
  gap: 30px;
}

.footer__column + .footer__column {
  flex: 1;
}

.footer__column:first-of-type,
.footer__column:last-of-type {
  font-size: 1.4rem;
  line-height: 1.57;
}

.footer__column:first-of-type {
  flex-basis: 23%;
}

.footer__column:last-of-type {
  flex-basis: 7%;
}

.footer__desc {
  margin: 20px 0;
}

.footer__copyright {
  font-size: 1.4rem;
  line-height: 1.57;
}

.footer__media {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 22px;
}

.footer__title {
  margin-top: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--white);
}

.footer__list {
  margin-top: 25px;
}

.footer__link {
  font-size: 1.5rem;
  line-height: 2;
  text-decoration: none;
  transition: color 0.5s linear;
}

.footer__link:hover {
  color: var(--primary);
}

.footer__form {
  margin-top: 25px;
}

.footer__form input {
  width: 100%;
  height: 40px;
  padding: 0 20px;

  border: none;
  border: none;

  font-size: inherit;
  color: var(--white);
  background: #272727;
  border-radius: 20px;
}

.btn-send {
  --height: 40px;

  position: relative;
  min-width: 95px;
  margin-top: 10px;

  font-size: 1.5rem;
  letter-spacing: 1.5px;
  color: var(--white);
  background: var(--primary);
  border-radius: 20px;
  overflow: hidden; /* prevent ::after from overflowing */

  transition: color 0.5s ease, background 0.5s ease;
  z-index: 0;
}

.btn-send::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--white);
  border-radius: 30px;

  transform: scale(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  z-index: -1; /* behind the text */
}

.btn-send:hover {
  color: var(--primary);
  background: var(--white);
}

.btn-send:hover::after {
  transform: scale(1.1);
}
